.card {
    width: 30%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
}

.card img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.card figcaption {
    font-style: italic;
    font-size: 14px;
    color: #000000;
}