.rodape {
    padding: 20px;
}

.rodape h2 {
    margin: auto 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.rodape .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape .icone {
    margin: 0 10px;
    max-width: 50px;
    height: auto;
    display: block;
}